<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Grist Invoice</title>

    <!-- A template for showing an invoice in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>
    <script src="exampleData2.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Nenhum recibo selecionado.</p>
          <p>Crie um novo recibo, e entao insira novas viagens.</p>
          <!-- <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul> -->
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>



      <template v-if="invoice">
        <div class="top">


          <div class="block">
            <div class="header">
              <div class="meta title">Recibo</div>
            </div>
            <div class="info"><span class="meta">Numero do Recibo</span> #{{ invoice.Codigo }}</div>
            <div class="info" v-if="invoice.Emissao"><div class="meta date-tag">Emissão</div> {{ invoice.Emissao | asDate }}</div>
            <!-- <div class="info" v-if="invoice.Due"><div class="meta date-tag">Due</div> {{ invoice.Due | asDate }}</div> -->
          </div>
          


          <div class="supplier">
            <div v-for="business in (invoice.Autor ? [invoice.Autor] : [])">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address">
                  <span class="name">{{ business.Empresa }}</span><br />
                  {{ business.Endereco }}<br />
                  <!-- <template v-if="business.Street2">
                    {{ business.Street2 }}<br />
                  </template> -->
                  {{ business.Cidade }} {{ business.Estado }} {{ business.CEP }}<br />
                  <template v-if="business.Pais">
                    {{ business.Pais }}<br />
                  </template>
                </div>
                <template v-if="business.Email">
                  <div class="email">{{ business.Email }}</div>
                </template>
                <template v-if="business.Phone">
                  <div class="phone">{{ business.Phone }}</div>
                </template>
                <template v-if="business.Website">
                  <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
                </template>
              </template>
            </div>
          </div>
        </div>
        












        <!-- <div class="motorista" v-for="funcionario in (invoice.Motorista ? [invoice.Motorista] : [])">
          <div class="title">Motorista</div>
          <div class="details">
            <template v-if="typeof(funcionario) === 'string'">
              <div class="newlined">{{ funcionario }}</div>
            </template>
            <template v-else>
              <div>{{ funcionario.Motorista }}</div>
              <template v-if="funcionario.Endereco">
                {{ funcionario.Endereco }},
              </template>
              {{ funcionario.Cidade }}, {{ funcionario.Estado }}. {{ funcionario.CEP }}
              <template v-if="funcionario.Country">
                <br />{{ funcionario.Country }}
              </template>
            </template>
          </div>
        </div> -->

        
          <table class="viagens">
            <tr>
              <th colspan="8" class="descricao">Motorista</th>
            </tr>
            <tr>
              <td colspan="8" class="descricao">{{ invoice.Motorista.Motorista }}</td>
              <td colspan="8" class="money">Taxa de comissão: {{ 100*invoice.Motorista.TaxaComissao }}%</td>
            </tr>
            <tr>
              <td colspan="8" class="descricao">{{ invoice.Motorista.Endereco }}. {{ invoice.Motorista.Cidade }}, {{ invoice.Motorista.Estado }}. {{ invoice.Motorista.CEP }}</td>
              <td colspan="8" class="money">Veiculo Placa: {{ invoice.Placa }}</td>
            </tr>
          </table>











        <table class="viagens">
          <template v-if="!Array.isArray(invoice.Viagens)">
            <tr>
              <th colspan="1" class="tituloTabela">Viagens</th>
            </tr>
            <tr>
              <th class="descricao">Descrição</th>
              <th class="money">Total</th>
            </tr>
            <tr>
              <td class="descricao">{{ invoice.Viagens }}</td>
              <td class="money">{{ invoice.Valor | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th colspan="10" class="tituloTabela">Viagens</th>
            </tr>
            <tr>
              <th class="descricao">Descrição</th>
              <th class="money">Transp.</th>
              <th class="money">Origem</th>
              <th class="money">Destino</th>
              <th class="money">Data Carregamento</th>
              <th class="money">Data Descarga</th>
              <th class="number">KGs</th>
              <th class="money">Preco Tonelada</th>
              <th class="money">Total Bruto</th>
              <th class="money">Total Liquido</th>
            </tr>
            <tr v-for="item in invoice.Viagens">
              <td class="descricao">{{ item.Produto }}</td>
              <td class="money">{{ item.Transportadora }}</td>
              <td class="money">{{ item.Origem }}</td>
              <td class="money">{{ item.Destino }}</td>
              <td class="money">{{ item.Data_Carga | asDayMonth }}</td>
              <td class="money">{{ item.Data_Descarga | asDayMonth }}</td>
              <td class="number">{{ item.Toneladas }}</td>
              <td class="money">{{ item.Preco | currency }}</td>
              <td class="money">{{ item.Valor_Bruto | currency }}</td>
              <td class="money">{{ item.Valor_Liquido | currency }}</td>
            </tr>
          </template>
        </table>





        
        <table class="financas">
          <template v-if="!Array.isArray(invoice.Financas)">
            <tr>
              <th class="descricao">Descrição</th>
              <th class="money">Total</th>
            </tr>
            <tr>
              <td>{{ invoice.Financas }}</td>
              <td class="money">{{ invoice.Valor | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th colspan="2" class="tituloTabela">Descontos</th>
            </tr>
            <tr>
              <th class="descricao">Descrição</th>
              <th class="money">Valor</th>
            </tr>
            <tr v-for="item in invoice.Financas">
              <td class="descricao">{{ item.Descricao }}</td>
              <td class="money">{{ item.Valor | currency }}</td>
            </tr>
          </template>
        </table>













        <div class="summary">
          <div class="part">
            <div class="title">Subtotal</div>
            <div class="details">{{ invoice.Subtotal | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Comissao</div>
            <div class="details">{{ invoice.Comissao | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Descontos</div>
            <div class="details">{{ invoice.Descontos | currency }}</div>
          </div>
          <div class="total">
            <div class="title">Total</div>
            <div class="details">{{ invoice.Total | currency }}</div>
          </div>
        </div>
        
        <div class="debitos">
          <div class="part">
            <div class="title">Saldo Anterior</div>
            <div class="details">{{ invoice.Devia | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Valor Pago</div>
            <div class="details">{{ invoice.Pago | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Saldo Devedor</div>
            <div class="details">{{ invoice.Devendo | currency }}</div>
          </div>
        </div>





        
        <template v-if="invoice.Nota_Debito">
          <p class="nota">{{ invoice.Nota_Debito }}</p>
        </template>
        
        <template v-if="invoice.Nota">
          <p class="nota">{{ invoice.Nota }}</p>
        </template>






        <!-- <template v-for="help in (invoice.Help ? [invoice.Help] : [])">
          <div class="help">
            <div class="help-close">
              Add <span class="column-name">Due</span> or <span class="column-name">Emissao</span> date to hide this help.
            </div>
            <div class="title">Column information</div>
            <div class="details">
              <table>
                <tr v-for="group in ['recognized', 'expected', 'ignored']">
                  <td class="key">{{ group }}</td>
                  <td>
                    <template v-if="group in help">
                      <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                    </template>
                    <template v-else>
                      &mdash;
                    </template>
                  </td>
                </tr>
              </table>
              <template v-if="invoice.SuggestReferencesColumn">
                <div>For structured address and item information, add a <span class="column-name">References</span> column with this formula:</div>
                <div>
                  <pre>RECORD(rec, expand_refs=1)</pre>
                </div>
              </template>
            </div>
          </div>
        </template> -->






        
        <div class="footer">
          <div class="thanks">
            Obrigado!
          </div>
        </div>

        <div class="print">
          <a href="javascript:window.print()">Imprimir</a>
        </div>
      </template>
    </div>
  </body>
</html>
